body {
   font-family: 'Poppins', sans-serif;
   margin: 0;
}

h1 {
   font-size: 50px;
}

h1 span {
   color: rgb(255, 166, 0);
}

.flexible-container {
   display: flex;
}

.half-width {
   width: 50%;
   padding-left: 10%;
}

.half-width img {
   width: 100%;
}

.text {
   padding-top: 117px;
}



.link-button {
   display: inline-block;
   text-decoration: none;
   background-image: linear-gradient(to right, rgba(251, 162, 79, 1) , rgba(255, 30, 30, 1));
   color: #fff;
   margin-top: 15px;
   padding: 10px 20px;
   border-radius: 30px;
   font-size: 12px;
   box-shadow: 0 8px 16px 0 rgba(255, 136, 0, 0.2), 0 6px 20px 0 rgba(255, 1, 1, 0.19);

}

.top-banner {
   /* background-image: url(images/shapes/Frame\ 58.jpg); */
   background-color: #fff;
}

/* about */
.about-banner {
   background-image: url(images/shapes/70101.jpg);
   background-repeat: no-repeat;
   background-position: start;
   object-fit: cover;
   background-size: cover;
}



.about-banner .half-width img {
   width: 79%;
   padding-top: 120px;
   padding-left: 120px;
}

.about-banner .half-width.text {
   width: 100%;
   padding-left: 225px;
}

/* recipies */

.recipies .recipies-text {
   margin: 0 auto;
   text-align: center;
}

.recipies .cards {
   width: 80%;
   margin: 0 auto;
}

.recipies .cards .child {
   padding: 25px;
   margin-left: 30px;
   border: 1px solid #fff;
   border-radius: 10px;
   box-shadow: 0 0 12px rgba(0,0,0,.3)
}

/* socials */

.socials .flexible-container {
   justify-content: space-evenly;
   margin-top: 100px;  
}

.socials .social-text {
   text-align: start; 
   margin-bottom: 30px; 
}

.socials .social-text h1 {
   margin-bottom: 0;
}


.socials .border-text {
   width: 77%;
   border: 1px solid #fff;
   border-radius: 10px;
   box-shadow: 0 0 12px rgba(0,0,0,.3);
   margin-left: 190px;
   margin-bottom: 80px;
}


/* footer */

.footer .footer-text {
   text-align: center;
   background-color:#0B0D17;
   color: #FFFFFF;
   padding: 30px;
   padding-bottom: 50px;
}


.footer .footer-text h2 span {
   background: -webkit-linear-gradient( rgba(251, 162, 79, 1) , rgba(255, 30, 30, 1));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.footer .footer-text h6 {
   color: #fff;
   letter-spacing: 1px;
   font-weight: normal;
}

.footer .footer-text h2:last-child {
   color: #E5E5E5 !important;
}